.container{
    width: 800px;
    margin: auto;
    background-color: antiquewhite;
    padding: 10px;
}

.container h2{
    text-align: center;
}

.container table  {
    border: solid 1px black;
    width: 100%;
}

.container table td {
    border:solid 1px black;
    height: 50px;
}