header, .content{
    width: 500px;
    padding: 10px;
    margin: 10px auto;
    border: solid 2px gray;
    min-height: 20px;
    background-color: antiquewhite;
}

.content {
    min-height: 700px;
    background-color: aquamarine;
}

.ball{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    border-radius: 50%;
}