nav {
    border: solid 1px black;
    padding: 10px;
    width: 300px;
    margin: 10px auto;
    background-color: antiquewhite;
}

article{
    width: 500px;
    border: solid 2px green;
    padding: 20px;
    margin: 5px auto;
    background-color: burlywood;
}

article div{
    width: 80%;
    min-height: 20px;
    background-color: aquamarine;
    margin: 10px auto;
    padding: 10px;
}