main{
    width: 1200px;
    border: solid 20px gray;
    background-color: blueviolet;
    margin: 10px auto;
    height: 200px;
}

@media (min-width:1000px){
    main{
        background-color: aqua;
    }
}

@media (max-width:700px){
    main{
        background-color: yellow;
    }
}

.container{
    border: solid 1px gray;
    background-color: aquamarine;
    padding: 0px;
    margin: auto;
    width: 950px;
    min-height: 850px;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    /* justify-content: start; */
    justify-content: space-evenly;
    /* align-items: start; */
    /* align-items: stretch; */
}

.container div {
    width: 200px;
    height: 150px;
    border: solid 2px blue;
    background-color: beige;
    font-size: 3em;
    text-align: center;
    box-sizing: border-box;
    flex-grow: 1;
}