.container{
    width: 700px;
    margin: auto;
    border: solid 2px gray;
    border-radius: 15px;
    padding: 20px;
    background-color: cornsilk;
}

table{
    border: solid 1px green;
    width: 100%;
    border-radius: 50px;
    border-collapse: collapse;
}

table td{
    border: solid 1px green;
    padding: 20px;
    width: 50%;
}

table td input, textarea, button{
    padding: 5px 20px 5px 20px;
    border: solid 1px green;
    outline: none;
    width: 200px;
}

table button{
    background-color: rgb(122, 248, 122);
    border-radius: 5px;
    color: white;
    font-weight: bold;
     border: none;
}