.container{
    border: solid 1px black;
    border-radius: 10%;
    width: 900px;
    height: 700px;
    background-color: bisque;
    margin: auto;
    padding: 20px;
}

.container .forms, form {
    margin: 30px;
    background-color: white;
    padding: 20px;

}

.container form{
    background-color: cadetblue;
}

