.container{
   border: solid 1px black;
   padding: 20px;
   margin: 10px auto;
   width: 30%; 
   background-color: bisque;
}

.container button{
    padding: 4px;
    font-size: 1.3em;
    font-weight: bold;
}