.container{
    border: solid 5px green;
    width: 700px;
    height: 800px;
    background-color: aquamarine;
    margin: auto;
    padding: 10px;
}

.circle{
    width: 100px;
    height: 100px;
    border: solid 2px gray;
    border-radius: 50%;
}

@keyframes anime1 {
    from{
        background-color: red;
    }
    to{
        background-color: green;
    }
}

@keyframes anime2 {
    0%{
        background-color: red;
    }
    33%{
        background-color: yellow;
    }
    66%{
        background-color: green;
    }
    100%{
        background-color: red;
    }
}


.circle1{
    width: 300px;
    height: 300px;
    background-color: red;
    animation-name: anime2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.circle2{
    background-color: yellow;
}

.circle3{
    background-color: blue;
}

.circle4{
    background-color: black;
}